*{

}
body{
	font-family: 'Open Sans', sans-serif;
	color: #222
}
img{
	width: 100%
}
.supportsection{
	height:500px ;
	background: #afccd9;
}
.container{
	width: 1200px;
	margin-left:auto;
	margin right: auto;
	padding: 50px 50px;
	box-sizing:border-box;
	display: flex;
	align-items: center; 

}
.banner{
	max-width: 50%
}
.content{
	max-width: 50%
	background:aliceblue;
	padding: 30px
}
h6{
	font size: 30px
}
.content h2{ 
font size:60px;
font-weight: 900;
line-height:1.2 
 }
.content p{
font size:22px;
 }
 .content a{
 	padding: 15px 35px;
 	background: #28596e;
 	display: inline-block;
 	font-size: 24px;
 	text-decoration: none;
 	text-align:center;
 	margin top: 10px;
 	color: #fff;
 	font-weight: 500;
 	text-transform: uppercase;
 	border-radius: 7px;
 }
 .featuresection{
padding: 50px 0px;
 }

 .feature{
 	max-width: 33.33%
 	background:pink;
 	padding:15px;
 }
.feature div{
	background:#afccd9;
	padding: 20px 25px;
	border-radius: 7px;
	min-height: 325px;
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	align-items: center; 

}
 .feature img{
width: 55px;
margin-bottom:30px;
 }
.feature h2{}
.feature p {}
.aboutus{
	background:#afccd9


}
